html, body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-align: center;
}

ul{
    background-color: rgb(6, 51, 21);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 0;
    margin-bottom: 0;
}

a, li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 225, 170);
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

.merch{
    color: rgb(255, 85, 85);
    margin-right: 10px;
}

.space{
    width: 20px;
}

ul img{
    height: 20px;
}

.menyr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

.logo{
    font-family: 'Rock salt', cursive;
    font-size: 1.3rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.blur:hover {
    filter: blur(0.4px);
}

.blackline{
    height: 1px;
    background-color:rgb(158, 133, 87);
    margin: 0;
}

nav{
    width: 100%;
    position: fixed; 
}

.main{
    display: flex;
    flex-direction: row;
    padding: 45px;
}

.left{
    width: 50vw;
}

.middle{
    width: 30vw;
    padding: 25px;
}

.right{
    width: 20vw;
}

.right p{
    text-align: left;
}

.vinyls{
    display: flex;
    flex-direction: row;
}

.vinyl{
    margin-right: 25px;
}

.cds{
    display: flex;
    flex-direction: row;
}

.cd{
    margin-right: 25px;
}

.tshirts{
    display: flex;
    flex-direction: row;
}

.tshirt{
    margin-right: 25px;
}

.tshirtbig{
    width: 25vw;
}

.thumbs{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 25px;
}

.tshirtsmall{
    width: 6vw;
}

.buy{
    background-color: yellow;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(65, 65, 65);
}

footer{
    background-color: rgb(6, 51, 21);
    display: flex;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.blackline-footer{
    height: 1px;
    background-color:rgb(158, 133, 87);
    margin: 0;
    position: fixed;
    width: 100%;
}

.footer-p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    line-height: 1.4;
    color: rgb(255, 225, 170);
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    text-decoration: none;
}

footer h2, footer p{
    text-align: start;
    margin-right: 30px;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1,5rem;
    font-weight: 100;
    color: rgb(255, 225, 170);
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 